
*.git
*.pyc
*.swp
*.out
*.log

# data files:
*.csv
*.CSV
*.dat
*.DAT
*.json
*.lis
*.LIS
*.xlsx
*.XLSX
*.zip
*.ZIP
*.7z
*.7Z

**/*.git
**/*.pyc
**/.swp

_pycache_
__pycache__
**/__pycache__/**
**/.pytest_cache/**

node_modules
**/node_modules/**

